<p>
  <strong><%= @task.name %></strong>
  
</p>

<p>
  <img src=<%= @task.image %> alt="" />
</p>
<%= link_to 'Volver', tasks_path %>

<h1>Usuarios que han completado esta tarea</h1>

<ul>
  <% (@tasks.where(task_id: @task, complete: true)).each do |i| %>
  <li> <%= i.user.email %>
  <% end %>
</ul>
