<%= link_to 'volver', root_path %>
<h1>Tareas realizadas</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Image</th>
    </tr>
  </thead>

  <tbody>
    <% (@tasks.where(user_id: current_user, complete: true)).each do |task| %>
      <tr>
        <td><%= task.task.name %></td>
        <td><img src=<%= task.task.image %> alt="" /></td>
      </tr>
    <% end %>
  </tbody>
</table>


