<%= link_to 'volver', root_path %>
<h1>Tareas realizadas</h1>

<table class='table'>
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% (@tasks.where(user_id: current_user, complete: true)).each do |task| %>
      <tr>
        <td><%= task.task.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>


